<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define a simple bean -->
    <bean id="doc" class="org.example.Doctor">
        <constructor-arg value="MBBS"></constructor-arg>

    </bean>
    <bean id = "docc" class = "org.example.Nurse">
    </bean>

</beans>
